
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, [data-theme="forest"] {
    --background: 100 60% 96%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 158 78% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 265 63% 61%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 10% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 220 10% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 352 78% 61%;
    --destructive-foreground: 0 0% 100%;
    --border: 216 12% 84%;
    --input: 216 12% 84%;
    --ring: 158 78% 39%;
    --radius: 8px;
    --chart-1: 182 100% 40%; 
    --chart-2: 265 63% 61%;
    --chart-3: 148 100% 39%;
    --chart-4: 48 100% 50%; 
    --chart-5: 352 78% 61%;
  }

  [data-theme="desert"] {
    --background: 39 70% 95%;
    --primary: 25 84% 60%;
    --ring: 25 84% 60%;
  }
  
  [data-theme="ocean"] {
    --background: 210 100% 97%;
    --primary: 210 85% 55%;
    --ring: 210 85% 55%;
  }
  
  [data-theme="lavender"] {
    --background: 255 100% 97%;
    --primary: 260 60% 65%;
    --ring: 260 60% 65%;
  }

  [data-theme="sakura"] {
    --background: 345 100% 97%;
    --primary: 340 82% 75%;
    --ring: 340 82% 75%;
  }

  [data-theme="clean_white"] {
    --background: 0 0% 100%;
  }


  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 158 78% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 158 78% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
